


.page {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
}

.header{
  display:flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  height: 800px;
  box-sizing: border-box;
  position:relative;
  background-color: #fff;
  background-image: url('../images/background_header.svg');
  background-size: cover;
}

.header__title{
  margin: 183px 0 0;
  font-family: "Inter";
  font-weight:500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  max-width: 729px;
}

.header__span-accent{
  color: #3f96f3;
  display:block;
  font-family: "Noto Serif";
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
}

.header__description{
  font-family: "Noto Serif";
  font-size:20px;
  line-height: 30px;
  line-height: 30px;
  font-size: 20px;
  margin: 28px 0 0;
  max-width: 683px;

}

.header__image{
  position:absolute;
  top:124px;
  right:5px;
  width:646px;
  height:568px;
}

.header__footer{
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  width: 158%;
}


.header__paragraph{
  margin: auto;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.nav{
  display:flex;
  justify-content: space-between;
}
.nav__logo{
  position:relative;
  width:105px;
  height:39px;
  left:-50px;
}

.nav__links{
  display:flex;
  list-style-type: none;
  padding:0;
  margin: 0;
  column-gap:20px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.recipes{
  color: #fff;
  background-color:#0a2750;
  background-image:url('../images/background_recipes.svg');
  height: 500px;
  padding: 100px 80px 215px;

}

.recipes__title{
  margin: 0 0 24px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;

}

.recipes__subtitle{
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 80px;

}

.recipes__videos{
  display:flex;
  justify-content: center;
  column-gap: 40px;
  list-style-type: none;
  margin: 80px;
}

.recipes__iframe{
  border:0;
}


.recipes__video-caption{
  display:flex;
  justify-content: space-between;
}

.reservation{
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 80px 120px;
}

.reservation__title{
  margin-bottom: 0 0 80px;
  text-align: center;
  font-family: Inter;
  font-weight:500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form{
  margin: 80px auto;

}

.form{
  max-width: 385px;
}

.form__fieldset{
  margin: 0;
  padding: 0;
  border: none;
}

.form__input{
  display:block;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  border-radius: 4px;
}

.form_buttom{
  padding: 20px 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 32px;
  border-radius: 4px;
  background-color:#1878DC;
  color: #fff;
}

.form__checkbox{
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.form_label_type_checkbox{
  display:flex;
  justify-content: center;
  gap: 12px;
}
